@model WAMVC.Models.ProductoModel

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="row mb-4">
    <div class="col">
        <h1 class="form-title">
            <i class="bi bi-box me-2"></i>Detalles del Producto
        </h1>
    </div>
</div>

<div class="form-container">
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-8">
                    $@Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
            </dl>
            
            <div class="form-buttons">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-form-primary">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="Index" class="btn-form-secondary">
                    <i class="bi bi-arrow-left"></i> Volver a la Lista
                </a>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="alert alert-info">
                <h5 class="alert-heading"><i class="bi bi-info-circle me-2"></i>Información del Producto</h5>
                <p>Estos son los datos registrados para este producto. Puede editarlos usando el botón correspondiente.</p>
            </div>
        </div>
    </div>
</div>
